*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    color: #3e2723;
    background-color: #fff8f0;
}
h1,h2,h3{
    font-family: "platfair Display",serif;
}
/**container**/
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #4e342e;
    z-index: 1000;
    position: sticky;
    top: 0;   
}
.navbar-container{
    display: flex;
    justify-content:space-between;
    padding: 0px 100px;
    align-items: center;
}
.logo img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 4px;
}
.logo{
    margin-bottom:20px;
}
.nav-links{
   display: flex;
   list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s
}
.nav-links a:hover,.nav-links .active{
  color:yellow;
}
/**hero section**/
.hero{
    height: 90vh;
    background: url('coffe4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.hero-overlay{
    background-color: rgba(31, 5, 5, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-text h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-text p{
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
}
.hero-text span{
    color: gold;
    font-weight: bold;
}
.btn{
    background-color: rgb(220, 220, 75);
    border-radius: 40px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: medium;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translateY(-3px);
    background-color: gold;
}
/**section**/
.section-title{
    text-align: center;
    color: #4e342e;
    margin-bottom: 40px;
    font-size: 2rem;
}
.menu-grid{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   gap:20px;
}
.menu-item{
    background: wheat;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgb(0,0,0,0.1);
    transition: transform 0.3s;
}
.menu-item img{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px
}
.menu-item:hover{
    transform: scale(1.05);
}
.menu-item span{
    color:orange;
    font-weight: bold;
}
#menu{
    margin-bottom: 30px;
}
/**about**/
#about{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
.about-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 30px;
}
.about-text a {
    text-align: center;
}
.about-img{
    flex: 1;
    margin-top: 50px;
    justify-content: center;

}
.about-img img{
    width: 100%;
    max-width:600px;
    border-radius:10px;
}
.about-text p{
    color: #4e342e;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.secondary-btn{
    background: transparent;
    border: 2px solid #ffca28;
    color: #ffca28;
}
.secondary-btn:hover{
    background: #ffca28;
    color: #3e2723;
}
.offers{
    background-color: #ffe0b2;
    padding: 50px 0;
}
.offers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
}
.offer-card{
    background: white;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
}
.offer h3{
    color: #bb601a;
}
.offer-card:hover{
    cursor: pointer;
    transform: translateY(-3px);
}
/**testimonials**/
.testimonials{
    padding: 50px 0;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.testimonial{
    background: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    font-style: italic;
}
.contact form{
    display: grid;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}
.contact input,.contact textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.contact button{
    border: none;
    cursor: pointer;
}
#contact{
    margin-bottom: 30px;
}
footer{
    background-color: #4e342e;
    color: #ffff;
    padding: 20px 0;
    text-align: center;
}
.social-links img{
    height: 30px;
    margin: 10px 20px;
}
.social-links img:hover{
    transform: translateY(-3px);
}
#home,#menu,#about,#offers,#testimonials,#contact{
    scroll-margin-top: 100px;
}